*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #B7B7B7;
    margin: 0;
    line-height: 150%;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    object-fit: cover;
}

.container{
    max-width: 1201px;
    margin: 0 auto;
}

.title-h2{
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #000000;
}

.title-h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #000000;
}

.text-p{

}
/* header */

.header {
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 750px;
    background-position: center;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__logo {
    height: 64px;
}

.logo__link {

}

.logo__img {
}

.menu {
    
}
.menu__list {
    

}
.menu__list-item {
    display: inline;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    margin-right: 35px;
}

.menu__list-item:last-child {
    margin-right: 0;
}

.menu__link {
}
.menu__link--active {
    border-bottom: 2px solid #fff;

}
.header__lang {
    padding-left: 65px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__lang-item{
    cursor: pointer;
    transition: all .2s;
}

.header__lang-item:hover{
    color: #B7B7B7;
}

.header__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 791px;
    padding: 117px 0 35px;
}



.button {
    background: #DB2512;
    border: none;
    font-weight: 500;
    font-size: inherit;
    line-height: 150%;
    color: #fff;
    width: 198px;
    height: 50px;
    cursor: pointer;

}


/* services */
.services {
    position: relative;
    margin-bottom: 100px;
}

.address {
    position: absolute;
    top: -98px;
}

.address__items {
    display: flex;
    gap: 0 21px;
}

.adress__item {
    width: 386px;
    height: 196px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    padding: 39px 39px 37px;
    background-color: #fff;
}

.adress__item-ic {
    margin-bottom: 13px;
}

.adress__item-text {

}

.services__content {
    padding-top: 205px;
}

.services__title{
    margin-bottom: 22px;
}

.services__link {
    text-decoration: underline;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.15em;
    text-decoration-line: underline;
    color: #000000;
}

.services__items {
    display: flex;
    gap: 20px;
    padding-top: 60px;
}

.services__item {
    position: relative;
    width: 100%;
}

.services__item-img {
    transition: all 0.3s;
}

.services__item-img:hover {
    filter: brightness(40%);
}

.services__item-title {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #000000;
    padding-top: 15px
}

.services__item-btn {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    left: 143px;
    bottom: 250px;
    border: none;
    font-size: 45px;
    color: #fff;
    background: #DB2512;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    transition: opacity .3s;
}
.services__item:hover .services__item-btn {
    opacity: 1;
}

.services__item:hover .services__item-text {
    opacity: 1;
}

.services__item-text {
    font-weight: 600;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    width: 269px;
    position: absolute;
    left: 29px;
    bottom: 80px;
    opacity: 0;
    z-index: 2;
    transition: opacity .3s;
}

/* understand */

.understand {
    background-color: #171616;
    max-height: 665px;
    padding: 117px 0;
}

.understand__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.understand__box {
    width: 506px;
}

.understand__title{
    color: #fff;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    line-height: 150%;
    margin-bottom: 42px;
}

.understand__text {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.23em;
    line-height: 23px;
    margin-bottom: 48px;
}

.understand__link {
    font-weight: 500;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: underline;
    color: #FFF;
}

/* fast */

.fast {
    padding-top: 198px;
}

.fast__title {
    font-weight: 900;
    font-size: 148px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin-bottom: 115px;
}

.fast__text {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin-bottom: 108px;
}

.fast__items {
    display: flex;
    gap: 19px;
    margin-bottom: 99px;
}

.fast__item {
    width: 386px;
    height: 150px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    padding: 30px 24px 30px 26px;
}

.fast__item-text{
    max-width: 332px;
}

.title-h3 {
    margin-bottom: 15px;
}

/*  contactn */

.contact {
    background: #171616;
    max-height: 665px;

}

.contact__form {
    max-width: 440px;
    padding: 107px 0 100px;
}

.contact__title{
    color: #fff;
    margin-bottom: 46px;
}

.contact__form-input {
    width: 197px;
    min-height: 33px;
    max-height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 15px;
    color: #fff;
}

.contact__form-input:focus, .contact__form-textarea:focus {
    outline: 0;


}

.contact__form-input::placeholder{
    font-size: 15px;
    letter-spacing: 0.15em;
    color: #fff;
}


.contact__form-items{
    display: grid;
    grid-template-columns: 197 197;
    grid-template-rows: 50 50 131;
    max-width: 440px;
    gap: 46px 54px;
    position: relative;
}

.contact__form-label{
    position: absolute;
    pointer-events: none;
    left: 0px;
    right: 11px;
    top: -7px;
    
    white-space: nowrap;
    overflow: hidden;
    line-height: 40px;
    transition: .3s;
    font-size: 15px;
    letter-spacing: 0.15em;
    color: #fff;
}

.contact__form-input--big-text {
    display: block;
    max-width: 440px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    min-height: 140px;
    letter-spacing: 0.15em;
    margin-bottom: 32px;
    color: #fff;
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'Poppins';
    resize: none;
}

.contact__form-label--2{
    left: 252px;
}
.contact__form-label--3{
    top: 71px;
}
.contact__form-label--4{
    left: 252px;
    top: 71px;
}
.contact__form-label--5{
    top: 158px;
}

 .contact__form-input:focus + .contact__form-label {
  transform: translateY(-21px);
  font-size: 12px;

} 
 
.contact__form-input:focus + .contact__form-label:last-child {
  transform: translateY(0);
  font-size: 15px;

} 

/* footer */

.footer {

}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 62px 0;
}

.footer__copy {
    font-size: 15px;
    letter-spacing: 0.15em;
    color: #000000;
}

.footer__social-link {
    margin-top: 4px;
}

.footer__link {
    margin-left: 20px;
}





